/* mobile */

.landing .name {
  font-size: 78px;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #fff; 
  letter-spacing: 8px; 
  animation: typing 3s steps(20) , blink-caret 0.5s step-end infinite;
}

.landing .description {
  font-size: 66px;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #fff; 
  letter-spacing: 8px; 
  animation: typing 6s steps(20) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}
.landingImage {
  right: 0px;
}

/* .landing .socialIcons {
  display: none;
} */

.landing .socialIcons {
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 20px;
}


@media (min-width: 750px) {
  .landing .name,
  .landing .description {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
  }

  .landingImage {
    bottom: 0;
    right: 80px;
  }

  .landing .socialIcons {
    flex-direction: column;
  }
}
